<!-- </header> -->
<header class="header_area" >
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h loading wave" href="/"><h3 class="text-uppercase nav-head porti">NearByStreet</h3></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-end">
							<li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="#aboutAkash">About</a></li>
							<li class="nav-item"><a class="nav-link" href="#Experience">Login</a></li>
							<li class="nav-item"><a class="nav-link" href="#projects">SignIn</a></li>
							<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
  </header>

  <div id="home" >
      <section class="home_banner_area ">
        <div class="banner_inner" style="height: 695px">
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="banner_content" style="margin-top:85px;font-weight: 500px; font-size:100px;color:rgb(7, 1, 7);">
                    <div data-aos="zoom-in">
                  <div class="d-flex align-items-left rgba-gradient ">

                    <div class="plate">
                        <p class="script"><span>NearByStreet</span></p>
                        <p class="shadow text1">Getting people <br>back into high<br>street shops</p>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
              </div>
            </div>
        </div>
        </section>
        </div>
        <div data-aos="fade-down-right">
        <div>
            <section class="about_area section_gap">
              <div class="container">
                <div class="row justify-content-start align-items-center">
                  <div class="col-lg-5">
                    <div class="about_img img-sh">
                      <img  style="border-radius: 10px;" class="" src="../../assets/img/shop.png" alt="">
                    </div>
                  </div>

                  <div class="offset-lg-1 col-lg-5">
                    <div class="main_title text-left">
                      <h2 style="text-decoration:underline solid black;">What<br>
                        NearByStreeet<br>
                        Does</h2>
                      <p style="font-size:'50px;'">
                        <strong>
                          Boost footfall by making your instore products visible to shoppers searching nearby.
                        </strong>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            </div>
        </div>

            <div data-aos="fade-left">
                            <section class="about_area section_gap ">
                  <div class="container">
                    <div class="row justify-content-end align-items-right">

                      <div class="offset-lg-1 col-lg-5 ">
                        <div class="main_title text-left rgba-gradient1">
                          <h2>HOw<br>
                            NearByStreeet<br>
                            Does works</h2>
                          <p style="font-size:'50px;'">
                            <strong>
                                <ul>
                                    <li>We connect to your point of sale or inventory management system and automatically list your products online. No manual data entry or updates needed.</li>
                                    <li>Give your customers a live view of what's on your shelves with your own NearSt shop page.</li>
                                </ul>
                            </strong>
                            </p>

                        </div>
                      </div>
                      <div class="col-lg-5" >
                          <div class="about_img img-sh">
                            <img  style="border-radius: 10px"class="" src="../../assets/img/location.gif" alt="">
                          </div>
                        </div>
                      </div>
                  </div>
                </section>
                </div>

                <div data-aos="fade-right"
                      data-aos-offset="300"
                      data-aos-easing="ease-in-sine">
                    <section class="about_area section_gap">
                      <div class="container">
                        <div class="row justify-content-start align-items-center">
                          <div class="col-lg-5">
                            <div class="about_img img-sh" >
                              <img  style="border-radius: 10px;" class="" src="../../assets/img/pic3.jpg" alt="">
                            </div>
                          </div>

                          <div class="offset-lg-1 col-lg-5">
                            <div class="main_title text-left">
                              <h2 style="text-decoration:underline solid black;"> NearSt PLUS. <br>
                                Grow your local<br>
                                awareness further</h2>
                                <div class="right"></div>
                                <p style="font-size:'50px;'">
                                    <strong>
                                        <ul>
                                            <li>With NearSt PLUS we run highly effective Local Inventory Ads in Google for you.<br>
                                               Show your products and the distance to your store to nearby shoppers</li>
                                            <li>NearSt PLUS is an optional add-on service. Starting at less than the price of a cup of coffee a day.<br>
                                               Get a free £100 trial of NearSt Plus when you join.</li>
                                        </ul>
                                    </strong>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                    </section>
                    </div>

                <div data-aos="fade-down-right">
               <div class="left1"></div>
               <div class="right1"></div>
            <section class="about_area section_gap ">
              <div class="container ">
                <div class="row justify-content-end align-items-right ">
                  <div class="offset-lg-1 col-lg-5 ">
                    <div class="main_title text-left ">
                      <h2 style="text-decoration:underline solid black; font-size:40px;">Let your customers <br>
                        "See What's In Store"<br>
                        in Google</h2>
                      <p style="font-size:'50px;'">
                        <strong>
                            <ul>
                                <li>Let people discover your products when they search for your shop.</li>
                                <li>NearSt adds your products to Google "See What's In Store"</li>
                            </ul>
                        </strong>
                        </p>

                    </div>
                  </div>
                  <div class="col-lg-5" >
                      <div class="about_img ">
                        <img  style="border-radius: 10px"class="" src="../../assets/img/pic4.jpg" alt="">
                      </div>
                    </div>
                  </div>
              </div>
            </section>
            </div>
            <div data-aos="zoom-out-down">
                <section class="features_area">
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="col-lg-8 text-center">
                        <div class="main_title">
                          <h2 style="text-decoration:underline solid black;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">HEAR IT FROM OUR SHOPS</h2>
                        </div>
                      </div>
                    </div>
                    <div class="row feature_inner">
                      <div class="col-lg-3 col-md-6">
                        <div class="feature_item">
                          <img src="../../assets/img/people1.jpeg" alt="" width="140px" height="70px">
                          <h4>Far From The Madding Crowd | LINLITHGOW</h4>
                          <p>"We’ve been thrilled with the response to being on NearSt – I hadn’t realized how often customers would check stock before contacting us, it’s definitely opened up a whole new client base!" Sally</p>
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-6">
                        <div class="feature_item">
                          <img src="../../assets/img/people2.jpeg" alt="" height="70px">
                          <h4>Hanover Healthfoods | EDINBURGH</h4>
                          <p>
                              "A customer was in Holland and Barrett round the corner looking for rosewater. They did a Google search and found that we had it in stock. I had not seen this customer in the shop before." John
                        </p>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6">
                        <div class="feature_item">
                          <img src="../../assets/img/people3.jpg" alt=""  width="80px" height="70px">
                          <h4>Pages of Hackney | LONDON</h4>
                          <p>“When I checked the revenue growth after the free NearSt PLUS trial, I couldn’t believe the results. NearSt definitely helped grow our in-store sales.”, Eleanor</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <section id="footer">
                  <div class="container">
                    <div class="row text-center text-xs-center text-sm-left text-md-left">
                      <div class="col-xs-12 col-sm-4 col-md-4">

                        <img src="../../assets/img/logo.png" alt="logo" style="width:300px;height: 100px;;">
                        <p style="color:white;font-size:20px;padding:5px;font-weight: bold;">Getting people back into<br>
                            high street shops.</p>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>Quick links</h5>
                        <ul class="list-unstyled quick-links">
                          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                        </ul>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>company</h5>
                        <ul class="list-unstyled quick-links">
                          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Aboutus</a></li>
                          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>For Shop</a></li>
                          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Shop Finder</a></li>
                          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Blog</a></li>
                          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Press</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                        <ul class="list-unstyled list-inline social text-center">
                          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                        <p class="h6">Copyright © 2019 NearSt Ltd All rights reserved.<a class="text-green ml-2" href="https://near.st" target="_blank">Nearst</a></p>
                        <p> Contact, Terms & Conditions, Privacy Policy, Cookies</p>
                      </div>
                    </div>
                  </div>
                </section>


